@font-face{
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.woff2') format('woff2');
    src: url('../fonts/src/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
body{
    font-family: 'Oswald', sans-serif;
}

/* LAYOUT BLOCK */
.main-layout{
    display: inline-flex;
    position: absolute;
    width: 100%;
    background: rgb(154,198,172);
    background: linear-gradient(90deg, rgba(154,198,172,1) 49%, rgba(58,173,180,1) 100%);
    background-repeat: repeat repeat;
    background-size: cover;
}
.home-layout, .empty-layout{
    display: inline-flex;
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.main-layout .content, .home-layout .content, .empty-layout .content{
    margin: 0;
    padding: 0;
}
/* CLOSE LAYOUT BLOCK */
#primary{
    color: #fff;
    background: #3740ff;
    border: none;
}
#primary:hover{
    background: #000ad1;
}
.site-header-text {
    margin: 0;
    padding-top: 0.5rem;
    font-size: 2rem;
    font-size: 4vw;
    font-size: 6vmin;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #0a0a0a;
    text-align: left;
}
.card {
    background-color: rgba(255,255,255, 0.3) !important;
    min-width: 21rem !important;
    margin-right: 1rem;
}
.card-border {
    border-radius: 0.7rem !important;
    border-color: rgba(154,198,172,1) !important;
}
.card-header {
    border-top-left-radius: 0.7rem !important;
    border-top-right-radius: 0.7rem !important;
    opacity: 1;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #ffff;
    background: rgba(10, 18, 16, 0.9) !important;
    padding: 0.3rem 2rem 0.3rem 2rem !important;
}
.card-body{
    padding: 0.7rem !important;
}
.card-body-text {
    font-size: 1.15em;
    font-family: 'Oswald', sans-serif;
    color: #0a0a0a !important;
}
.list-group-item{
    padding: 0.35rem 0.7rem 0.35rem 0.7rem !important;
}

.text-right {
    float: right;
}
.text-left {
    float: left;
}
.card-header .alert {
    margin: -1rem;
}
.card-section{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -ms-scrollbar-base-color: rgba(255,255,255,0);
}
.card-section::-webkit-scrollbar {
    display: none;
}
.card-section-with-scroll{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -ms-scrollbar-base-color: rgba(255,255,255,0);
}
.card-section--content{
    width: 100%;
}
.justify-content-center{
    display: flex;
    justify-content: center;
}
