@font-face{
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.woff2') format('woff2');
    src: url('../fonts/src/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
body{
    font-family: 'Oswald', sans-serif;
}
.main-layout{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(154,198,172);
    background: linear-gradient(90deg, rgba(154,198,172,1) 49%, rgba(58,173,180,1) 100%);
    overflow: auto;
    padding-left: 2rem;
    padding-right: 4.2rem;
}
.empty-layout{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.15);
    color: #0a0a0a;
    padding-right: 4.5rem;
}
.empty-layout .content{
    margin: 0 auto;
    background: #fff;
    min-width: 40vw;
    padding: 3rem;
}
.empty-layout .content .card-deck{
    display: block !important;
}
/* Стили для переключателя режима */
.bars label{
    display: block;
    left: 0;
    top: 0;
    position: relative;
    margin: 0.6rem 0.4rem 0.4rem 0.4rem;
    width: 3.8rem;
    height: 40px;
    z-index: 10;
    line-height: 40px;
    font-weight: bold;
    background: #303030;
    border-radius: 0.2rem;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}

.bars label:after {
    content: url("https://fpmi.spiralarms.org/img/toggle/sun.svg");
    padding: 0.25rem;
    width: 1.9rem;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    background: #199cff;
    border-radius: 0.2rem;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
}
.checkbox {
    display: none;
}
.bars :checked + label {
    left: 0;
}
.bars :checked + label:after {
    left: 1.9rem;
    background: #404d59;
    content: url("https://fpmi.spiralarms.org/img/toggle/moon.svg");
}


.site-header-text {            /* Сайт */
    margin: 0;
    padding-top: 0.5rem;
    font-size: 2rem;
    font-size: 4vw;
    font-size: 6vmin;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #0a0a0a;
    text-align: left;
}
.card {
    background-color: rgba(255,255,255, 0.3) !important;
    min-width: 22rem !important;
    margin-right: 1rem;
}
.card-border {
    border-radius: 1rem !important;
    border-color: rgba(154,198,172,1) !important;
}
.card-header {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    opacity: 1;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #ffff;
    background: rgba(10, 18, 16, 0.9) !important;
}
.card-body-text {
    font-size: 1.15em;
    font-family: 'Oswald', sans-serif;
    color: #0a0a0a !important;
}
.alert-danger, .list-group-item-danger {
    box-shadow: 0 0 20px rgba(225, 83, 97, 0.5);
}
.text-right {
    float: right;
}
.text-left {
    float: left;
}
.card-header .alert {
    margin: -1rem;
}
.card-deck {
    width: 100%;
    margin-top: 1%;
}
.card-section{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -ms-scrollbar-base-color: rgba(255,255,255,0);
}
.card-section::-webkit-scrollbar {
    display: none;
}
.card-section-with-scroll{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -ms-scrollbar-base-color: rgba(255,255,255,0);
}
.card-section--content{
    width: 100%;
}
