@font-face{
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.woff2') format('woff2');
    src: url('../fonts/src/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
body{
    font-family: 'Oswald', sans-serif;
}

/* LAYOUT BLOCK */
.main-layout{
    display: inline-flex;
    position: absolute;
    width: 100%;
    background: rgb(154,198,172);
    background: linear-gradient(90deg, rgba(154,198,172,1) 49%, rgba(58,173,180,1) 100%);
    background-repeat: repeat repeat;
    background-size: cover;
}
.home-layout{
    display: inline-flex;
    position: absolute;
    width: 100%;
    min-height: 100%;
    /*background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
    background: rgb(41, 43, 44) url("../img/pattern.svg") repeat repeat center fixed;
    background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
}
.home-layout .content{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.empty-layout{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.15);
    color: #0a0a0a;
    padding-right: 4.5rem;
}
.empty-layout .content{
    margin: 0 auto;
    background: #fff;
    min-width: 40vw;
    padding: 3rem;
}
.empty-layout .content .card-deck{
    display: block !important;
}
.main-layout .content, .home-layout .content{
    margin-right: 4.2rem;
}
/* CLOSE LAYOUT BLOCK */

/*  HOME PAGE BLOCK */

/*  CLOSE HOME PAGE BLOCK */













.template-main-container{
    display: block;
    width: 100%;
    padding-right: 2rem;
}

.site-header-text {
    margin: 0;
    padding-top: 0.5rem;
    font-size: 2rem;
    font-size: 4vw;
    font-size: 6vmin;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #0a0a0a;
    text-align: left;
}
.card {
    background-color: rgba(255,255,255, 0.3) !important;
    min-width: 21rem !important;
    margin-right: 1rem;
}
.card-border {
    border-radius: 1rem !important;
    border-color: rgba(154,198,172,1) !important;
}
.card-header {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    opacity: 1;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #ffff;
    background: rgba(10, 18, 16, 0.9) !important;
}
.card-body-text {
    font-size: 1.15em;
    font-family: 'Oswald', sans-serif;
    color: #0a0a0a !important;
}

.text-right {
    float: right;
}
.text-left {
    float: left;
}
.card-header .alert {
    margin: -1rem;
}
.card-section{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -ms-scrollbar-base-color: rgba(255,255,255,0);
}
.card-section::-webkit-scrollbar {
    display: none;
}
.card-section-with-scroll{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -ms-scrollbar-base-color: rgba(255,255,255,0);
}
.card-section--content{
    width: 100%;
}
